.ComponentLibrary {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 6rem);
	height: auto;
	width: 100vw;
	margin-top: 3rem;
}

.ComponentLibrary-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem 3rem;
	gap: 2rem;
}

/* Header */
.ComponentLibrary-header {
	display: flex;
	flex-direction: column;
	padding: 2rem 3rem;
	width: 100%;
}
.ComponentLibrary-headerHead {
}
.ComponentLibrary-headerSub {
}

.ComponentLibrary-section {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
}
.ComponentLibrary-colors {
	display: grid;
	grid-template-columns: 15rem 15rem 15rem;
	gap: 1rem;
	width: 50%;
}
.ComponentLibrary-colorBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 15rem;
	height: 5rem;
	border-radius: 1rem;
}

/* TODO UOPDAT AND REMOVE THE OLDER STUFF TOOO!! */
.color-grid {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.color-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 12px;
	background: #fff;
	width: 15%;
	min-width: 8rem;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.color-preview {
	width: 100%;
	height: 80px;
	border-radius: 6px;
}

.color-info {
	text-align: center;
	margin-top: 8px;
	font-size: 14px;
}

.color-name {
	font-weight: bold;
	color: #333;
}

.color-value {
	font-family: monospace;
	color: #666;
}
