:root {
  --color-gray-50: #f8f8f8;
  --color-gray-100: #f1f1f1;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #bfbfbf;
  --color-gray-400: #a3a2a2;
  --color-gray-500: #8e8e8e;
  --color-gray-600: #7c7b7b;
  --color-gray-700: #676666;
  --color-gray-800: #4d4d4d;
  --color-gray-900: #363636;
  --color-gray-1000: #1c1b1b;
  --color-gray-1100: #020000;
  --color-gray-000: #ffffff;
  --color-neutral-50: #F7F8FA;
  --color-neutral-100: #ebecf2;
  --color-neutral-200: #cecfd9;
  --color-neutral-300: #b5b7c3;
  --color-neutral-400: #9ea1b1;
  --color-neutral-500: #888b9d;
  --color-neutral-600: #717385;
  --color-neutral-700: #5c5e6e;
  --color-neutral-800: #4a4c59;
  --color-neutral-900: #373840;
  --color-neutral-1000: #212328;
  --color-neutral-1100: #0c0d10;
  --color-neutral-000: #ffffff;
  --color-indigo-50: #F4F5FE;
  --color-indigo-100: #EBEDFF;
  --color-indigo-200: #D1D7FF;
  --color-indigo-300: #B2BCFF;
  --color-indigo-400: #8694FF;
  --color-indigo-500: #6E7FFF;
  --color-indigo-600: #5E6DFF;
  --color-indigo-700: #3751FF;
  --color-indigo-800: #2035CB;
  --color-indigo-900: #032185;
  --color-indigo-1000: #001C5C;
  --color-indigo-1100: #0E153B;
  --color-indigo-desaturated-50: #F6F7FC;
  --color-indigo-desaturated-100: #F0F1FA;
  --color-indigo-desaturated-200: #D1D7FF;
  --color-indigo-desaturated-300: #C5CAEC;
  --color-indigo-desaturated-400: #A4ABE1;
  --color-indigo-desaturated-500: #929BDB;
  --color-indigo-desaturated-600: #868ED7;
  --color-indigo-desaturated-700: #6976CD;
  --color-indigo-desaturated-800: #4450A7;
  --color-indigo-desaturated-900: #233265;
  --color-indigo-desaturated-1000: #1A294D;
  --color-indigo-desaturated-1100: #131836;
  --color-navy-50: #F7F9FC;
  --color-navy-100: #f2f4f8;
  --color-navy-200: #cfd9e9;
  --color-navy-300: #aec1dc;
  --color-navy-400: #89a3c7;
  --color-navy-500: #6888b5;
  --color-navy-600: #426498;
  --color-navy-700: #254b86;
  --color-navy-800: #033176;
  --color-navy-900: #00245b;
  --color-navy-1000: #001a40;
  --color-navy-1100: #0E1126;
  --color-navy-desaturated-50: #F8F9FB;
  --color-navy-desaturated-100: #F3F4F7;
  --color-navy-desaturated-200: #D5DAE3;
  --color-navy-desaturated-300: #B9C3D1;
  --color-navy-desaturated-400: #97A5B9;
  --color-navy-desaturated-500: #788BA5;
  --color-navy-desaturated-600: #576883;
  --color-navy-desaturated-700: #3E506D;
  --color-navy-desaturated-800: #293950;
  --color-navy-desaturated-900: #1B2A40;
  --color-navy-desaturated-1000: #131D2D;
  --color-navy-desaturated-1100: #0D0F1C;
  --color-critical-50: #FDF5F4;
  --color-critical-100: #FDEEED;
  --color-critical-200: #fed1d0;
  --color-critical-300: #f6a6a4;
  --color-critical-400: #f07e7c;
  --color-critical-500: #ef5955;
  --color-critical-600: #e5362f;
  --color-critical-700: #CC1C10;
  --color-critical-800: #9c0000;
  --color-critical-900: #700600;
  --color-critical-1000: #4e0300;
  --color-critical-1100: #390A00;
  --color-success-50: #F3F8F2;
  --color-success-100: #E5F7E0;
  --color-success-200: #bee4b6;
  --color-success-300: #8acd8a;
  --color-success-400: #6dbd70;
  --color-success-500: #43a34d;
  --color-success-600: #2a973c;
  --color-success-700: #028329;
  --color-success-800: #005b19;
  --color-success-900: #033a0f;
  --color-success-1000: #042805;
  --color-success-1100: #031B00;
  --color-warning-50: #FEF7EB;
  --color-warning-100: #FFF1D9;
  --color-warning-200: #FFD988;
  --color-warning-300: #ffc156;
  --color-warning-400: #F6A91C;
  --color-warning-500: #e19701;
  --color-warning-600: #c17c00;
  --color-warning-700: #a36a00;
  --color-warning-800: #805300;
  --color-warning-900: #5c3c00;
  --color-warning-1000: #332100;
  --color-warning-1100: #221600;
  --color-info-50: #F8F5FF;
  --color-info-100: #F1ECFD;
  --color-info-200: #dfd4f4;
  --color-info-300: #cab4f7;
  --color-info-400: #b194f7;
  --color-info-500: #9574f1;
  --color-info-600: #7957e9;
  --color-info-700: #573bdc;
  --color-info-800: #422bbc;
  --color-info-900: #332196;
  --color-info-1000: #201368;
  --color-info-1100: #10003D;
  --color-teal-50: #F3FEFF;
  --color-teal-100: #cffafb;
  --color-teal-200: #7bebef;
  --color-teal-300: #28D8DF;
  --color-teal-400: #00C1C7;
  --color-teal-500: #00a3a9;
  --color-teal-600: #008f94;
  --color-teal-700: #007579;
  --color-teal-800: #005b5f;
  --color-teal-900: #044043;
  --color-teal-1000: #002a2c;
  --color-teal-1100: #001B1C;
  --color-pink-50: #FFF7FB;
  --color-pink-100: #fceef4;
  --color-pink-200: #fccbe2;
  --color-pink-300: #ffa4d2;
  --color-pink-400: #ff66ba;
  --color-pink-500: #fc3da6;
  --color-pink-600: #e8009b;
  --color-pink-700: #c20181;
  --color-pink-800: #940062;
  --color-pink-900: #6b0146;
  --color-pink-1000: #46062d;
  --color-pink-1100: #290A1B;
  --color-orange-50: #FDF8F6;
  --color-orange-100: #fcefe9;
  --color-orange-200: #fccfb9;
  --color-orange-300: #ffa97f;
  --color-orange-400: #ff6f26;
  --color-orange-500: #f25a00;
  --color-orange-600: #d34d00;
  --color-orange-700: #b03f00;
  --color-orange-800: #872f00;
  --color-orange-900: #5f2201;
  --color-orange-1000: #401900;
  --color-orange-1100: #2B1300;
  --color-purple-50: #F9F5FA;
  --color-purple-100: #f9eefc;
  --color-purple-200: #f1cdfc;
  --color-purple-300: #e9a8ff;
  --color-purple-400: #dd80ff;
  --color-purple-500: #d057ff;
  --color-purple-600: #c428ff;
  --color-purple-700: #a800e0;
  --color-purple-800: #8000ac;
  --color-purple-900: #5d017d;
  --color-purple-1000: #3c0651;
  --color-purple-1100: #270036;
  --color-green-50: #F4FDF7;
  --color-green-100: #d5fbe1;
  --color-green-200: #8af7b5;
  --color-green-300: #53e596;
  --color-green-400: #00c675;
  --color-green-500: #01ae66;
  --color-green-600: #018e53;
  --color-green-700: #007643;
  --color-green-800: #005932;
  --color-green-900: #003f22;
  --color-green-1000: #0a2817;
  --color-green-1100: #0B1B11;
  --color-coral-50: #FFF8F7;
  --color-coral-100: #fcefed;
  --color-coral-200: #fccec9;
  --color-coral-300: #ffa7a0;
  --color-coral-400: #ff6666;
  --color-coral-500: #ff4451;
  --color-coral-600: #ED1A3D;
  --color-coral-700: #ca002f;
  --color-coral-800: #9b0122;
  --color-coral-900: #700116;
  --color-coral-1000: #49060b;
  --color-coral-1100: #2F0700;
  --color-blue-50: #F4F8FF;
  --color-blue-100: #edf2fc;
  --color-blue-200: #c7dbfc;
  --color-blue-300: #9ac2fe;
  --color-blue-400: #66acff;
  --color-blue-500: #0294f7;
  --color-blue-600: #0281d8;
  --color-blue-700: #006bb5;
  --color-blue-800: #00508a;
  --color-blue-900: #013964;
  --color-blue-1000: #062441;
  --color-blue-1100: #061527;
  --color-foreground-neutral-bold: var(--color-neutral-1000);
  --color-foreground-neutral-medium: var(--color-neutral-800);
  --color-foreground-neutral-subtle: var(--color-neutral-600);
  --color-foreground-neutral-disabled: var(--color-neutral-400);
  --color-foreground-neutral-inverse: var(--color-neutral-000);
  --color-foreground-primary-bold: var(--color-indigo-900);
  --color-foreground-primary-medium: var(--color-indigo-700);
  --color-foreground-primary-subtle: var(--color-indigo-500);
  --color-foreground-secondary-bold: var(--color-navy-900);
  --color-foreground-secondary-medium: var(--color-navy-700);
  --color-foreground-secondary-subtle: var(--color-navy-500);
  --color-foreground-critical-bold: var(--color-critical-900);
  --color-foreground-critical-medium: var(--color-critical-700);
  --color-foreground-critical-subtle: var(--color-critical-500);
  --color-foreground-success-bold: var(--color-success-900);
  --color-foreground-success-medium: var(--color-success-700);
  --color-foreground-success-subtle: var(--color-success-500);
  --color-foreground-warning-bold: var(--color-warning-900);
  --color-foreground-warning-medium: var(--color-warning-700);
  --color-foreground-warning-subtle: var(--color-warning-500);
  --color-foreground-info-bold: var(--color-info-900);
  --color-foreground-info-medium: var(--color-info-700);
  --color-foreground-info-subtle: var(--color-info-500);
  --color-foreground-savi-bold: var(--color-purple-900);
  --color-foreground-savi-medium: var(--color-purple-700);
  --color-foreground-savi-subtle: var(--color-purple-500);
  --color-foreground-teal-bold: var(--color-teal-900);
  --color-foreground-teal-medium: var(--color-teal-700);
  --color-foreground-teal-subtle: var(--color-teal-500);
  --color-foreground-pink-bold: var(--color-pink-900);
  --color-foreground-pink-medium: var(--color-pink-700);
  --color-foreground-pink-subtle: var(--color-pink-500);
  --color-foreground-orange-bold: var(--color-orange-900);
  --color-foreground-orange-medium: var(--color-orange-700);
  --color-foreground-orange-subtle: var(--color-orange-500);
  --color-foreground-purple-bold: var(--color-purple-900);
  --color-foreground-purple-medium: var(--color-purple-700);
  --color-foreground-purple-subtle: var(--color-purple-500);
  --color-foreground-green-bold: var(--color-green-900);
  --color-foreground-green-medium: var(--color-green-700);
  --color-foreground-green-subtle: var(--color-green-500);
  --color-foreground-coral-bold: var(--color-coral-900);
  --color-foreground-coral-medium: var(--color-coral-700);
  --color-foreground-coral-subtle: var(--color-coral-500);
  --color-foreground-blue-bold: var(--color-blue-900);
  --color-foreground-blue-medium: var(--color-blue-700);
  --color-foreground-blue-subtle: var(--color-blue-500);
  --color-page-bold: var(--color-neutral-000);
  --color-page-subtle: var(--color-navy-100);
  --color-page-subtle-desaturated: var(--color-gray-50);
  --color-background-neutral-bold: var(--color-neutral-700);
  --color-background-neutral-medium: var(--color-neutral-200);
  --color-background-neutral-subtle: var(--color-neutral-100);
  --color-background-neutral-subtlest: var(--color-neutral-000);
  --color-background-neutral-disabled-subtle: var(--color-neutral-100);
  --color-background-neutral-disabled-medium: var(--color-neutral-200);
  --color-background-primary-bold: var(--color-indigo-700);
  --color-background-primary-medium: var(--color-indigo-200);
  --color-background-primary-subtle: var(--color-indigo-100);
  --color-background-primary-subtlest: var(--color-indigo-50);
  --color-background-secondary-bold: var(--color-navy-700);
  --color-background-secondary-medium: var(--color-navy-200);
  --color-background-secondary-subtle: var(--color-navy-100);
  --color-background-secondary-subtlest: var(--color-navy-50);
  --color-background-critical-bold: var(--color-critical-700);
  --color-background-critical-medium: var(--color-critical-200);
  --color-background-critical-subtle: var(--color-critical-100);
  --color-background-critical-subtlest: var(--color-critical-50);
  --color-background-success-bold: var(--color-success-700);
  --color-background-success-medium: var(--color-success-200);
  --color-background-success-subtle: var(--color-success-100);
  --color-background-success-subtlest: var(--color-success-50);
  --color-background-warning-bold: var(--color-warning-400);
  --color-background-warning-medium: var(--color-warning-200);
  --color-background-warning-subtle: var(--color-warning-100);
  --color-background-warning-subtlest: var(--color-warning-50);
  --color-background-info-bold: var(--color-info-700);
  --color-background-info-medium: var(--color-info-200);
  --color-background-info-subtle: var(--color-info-100);
  --color-background-info-subtlest: var(--color-info-50);
  --color-background-savi-bold: var(--color-purple-700);
  --color-background-savi-medium: var(--color-purple-200);
  --color-background-savi-subtle: var(--color-purple-100);
  --color-background-savi-subtlest: var(--color-purple-50);
  --color-background-desaturated-bold: var(--color-gray-700);
  --color-background-desaturated-medium: var(--color-gray-200);
  --color-background-desaturated-subtle: var(--color-gray-100);
  --color-background-desaturated-subtlest: var(--color-gray-000);
  --color-background-desaturated-inverse: var(--color-gray-1000);
  --color-background-teal-bold: var(--color-teal-700);
  --color-background-teal-medium: var(--color-teal-200);
  --color-background-teal-subtle: var(--color-teal-100);
  --color-background-teal-subtlest: var(--color-teal-50);
  --color-background-pink-bold: var(--color-pink-700);
  --color-background-pink-medium: var(--color-pink-200);
  --color-background-pink-subtle: var(--color-pink-100);
  --color-background-pink-subtlest: var(--color-pink-50);
  --color-background-orange-bold: var(--color-orange-700);
  --color-background-orange-medium: var(--color-orange-200);
  --color-background-orange-subtle: var(--color-orange-100);
  --color-background-orange-subtlest: var(--color-orange-50);
  --color-background-purple-bold: var(--color-purple-700);
  --color-background-purple-medium: var(--color-purple-200);
  --color-background-purple-subtle: var(--color-purple-100);
  --color-background-purple-subtlest: var(--color-purple-50);
  --color-background-green-bold: var(--color-green-700);
  --color-background-green-medium: var(--color-green-200);
  --color-background-green-subtle: var(--color-green-100);
  --color-background-green-subtlest: var(--color-green-50);
  --color-background-coral-bold: var(--color-coral-700);
  --color-background-coral-medium: var(--color-coral-200);
  --color-background-coral-subtle: var(--color-coral-100);
  --color-background-coral-subtlest: var(--color-coral-50);
  --color-background-blue-bold: var(--color-blue-700);
  --color-background-blue-medium: var(--color-blue-200);
  --color-background-blue-subtle: var(--color-blue-100);
  --color-background-blue-subtlest: var(--color-blue-50);
  --color-border-neutral-bold: var(--color-neutral-900);
  --color-border-neutral-medium: var(--color-neutral-700);
  --color-border-neutral-subtle: var(--color-neutral-500);
  --color-border-neutral-subtlest: var(--color-neutral-200);
  --color-border-neutral-decorative: var(--color-neutral-100);
  --color-border-primary-bold: var(--color-indigo-900);
  --color-border-primary-medium: var(--color-indigo-700);
  --color-border-primary-subtle: var(--color-indigo-500);
  --color-border-primary-subtlest: var(--color-indigo-200);
  --color-border-primary-decorative: var(--color-indigo-100);
  --color-border-secondary-bold: var(--color-navy-900);
  --color-border-secondary-medium: var(--color-navy-700);
  --color-border-secondary-subtle: var(--color-navy-500);
  --color-border-secondary-subtlest: var(--color-navy-200);
  --color-border-secondary-decorative: var(--color-navy-100);
  --color-border-critical-bold: var(--color-critical-900);
  --color-border-critical-medium: var(--color-critical-700);
  --color-border-critical-subtle: var(--color-critical-500);
  --color-border-critical-subtlest: var(--color-critical-200);
  --color-border-critical-decorative: var(--color-critical-100);
  --color-border-success-bold: var(--color-success-900);
  --color-border-success-medium: var(--color-success-700);
  --color-border-success-subtle: var(--color-success-500);
  --color-border-success-subtlest: var(--color-success-200);
  --color-border-success-decorative: var(--color-success-100);
  --color-border-warning-bold: var(--color-warning-900);
  --color-border-warning-medium: var(--color-warning-700);
  --color-border-warning-subtle: var(--color-warning-400);
  --color-border-warning-subtlest: var(--color-warning-200);
  --color-border-warning-decorative: var(--color-warning-100);
  --color-border-info-bold: var(--color-info-900);
  --color-border-info-medium: var(--color-info-700);
  --color-border-info-subtle: var(--color-info-500);
  --color-border-info-subtlest: var(--color-info-200);
  --color-border-info-decorative: var(--color-info-100);
  --color-border-savi-bold: var(--color-purple-900);
  --color-border-savi-medium: var(--color-purple-700);
  --color-border-savi-subtle: var(--color-purple-500);
  --color-border-savi-subtlest: var(--color-purple-200);
  --color-border-savi-decorative: var(--color-purple-100);
  --color-border-blue-bold: var(--color-blue-900);
  --color-border-blue-medium: var(--color-blue-700);
  --color-border-blue-subtle: var(--color-blue-500);
  --color-border-blue-subtlest: var(--color-blue-200);
  --color-border-blue-decorative: var(--color-blue-100);
  --color-border-purple-bold: var(--color-purple-900);
  --color-border-purple-medium: var(--color-purple-700);
  --color-border-purple-subtle: var(--color-purple-500);
  --color-border-purple-subtlest: var(--color-purple-200);
  --color-border-purple-decorative: var(--color-purple-100);
  --color-border-pink-bold: var(--color-pink-900);
  --color-border-pink-medium: var(--color-pink-700);
  --color-border-pink-subtle: var(--color-pink-500);
  --color-border-pink-subtlest: var(--color-pink-200);
  --color-border-pink-decorative: var(--color-pink-100);
  --color-border-coral-bold: var(--color-coral-900);
  --color-border-coral-medium: var(--color-coral-700);
  --color-border-coral-subtle: var(--color-coral-500);
  --color-border-coral-subtlest: var(--color-coral-200);
  --color-border-coral-decorative: var(--color-coral-100);
  --color-border-teal-bold: var(--color-teal-900);
  --color-border-teal-medium: var(--color-teal-700);
  --color-border-teal-subtle: var(--color-teal-500);
  --color-border-teal-subtlest: var(--color-teal-200);
  --color-border-teal-decorative: var(--color-teal-100);
  --color-border-green-bold: var(--color-green-900);
  --color-border-green-medium: var(--color-green-700);
  --color-border-green-subtle: var(--color-green-500);
  --color-border-green-subtlest: var(--color-green-200);
  --color-border-green-decorative: var(--color-green-100);
  --color-border-orange-bold: var(--color-orange-900);
  --color-border-orange-medium: var(--color-orange-700);
  --color-border-orange-subtle: var(--color-orange-500);
  --color-border-orange-subtlest: var(--color-orange-200);
  --color-border-orange-decorative: var(--color-orange-100);
  --color-border-focus: var(--color-indigo-500);
  --color-data-blue-bold: var(--color-blue-700);
  --color-data-blue-medium: var(--color-blue-500);
  --color-data-blue-subtle: var(--color-blue-300);
  --color-data-purple-bold: var(--color-purple-700);
  --color-data-purple-medium: var(--color-purple-500);
  --color-data-purple-subtle: var(--color-purple-300);
  --color-data-pink-bold: var(--color-pink-700);
  --color-data-pink-medium: var(--color-pink-500);
  --color-data-pink-subtle: var(--color-pink-300);
  --color-data-coral-bold: var(--color-coral-700);
  --color-data-coral-medium: var(--color-coral-500);
  --color-data-coral-subtle: var(--color-coral-300);
  --color-data-teal-bold: var(--color-teal-700);
  --color-data-teal-medium: var(--color-teal-500);
  --color-data-teal-subtle: var(--color-teal-300);
  --color-data-green-bold: var(--color-green-700);
  --color-data-green-medium: var(--color-green-500);
  --color-data-green-subtle: var(--color-green-300);
  --color-data-orange-bold: var(--color-orange-700);
  --color-data-orange-medium: var(--color-orange-500);
  --color-data-orange-subtle: var(--color-orange-300);
  --color-data-yellow-bold: var(--color-warning-700);
  --color-data-yellow-medium: var(--color-warning-500);
  --color-data-yellow-subtle: var(--color-warning-300);
  --font-family-default: Rubik;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-light: 300;
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;
  --font-size-56: 3.5rem;
  --font-size-64: 4rem;
  --line-height-12: 0.75rem;
  --line-height-16: 1rem;
  --line-height-20: 1.25rem;
  --line-height-24: 1.5rem;
  --line-height-28: 1.75rem;
  --line-height-32: 2rem;
  --line-height-40: 2.5rem;
  --line-height-56: 3.5rem;
  --line-height-60: 3.75rem;
  --line-height-80: 5rem;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-case-capitalized: capitalize;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
}
