@use "../partials/typography" as typo;
@use "../partials/varibales" as vars;
@use "../partials/mixins" as mix;

.Home-main {
  margin: 0 auto;
  padding: 2rem;
  max-width: 109rem;
  padding: 2rem 4.5rem;
}

@media screen and (min-width: 37.5rem) {
  .Home-main {}
}

@media screen and (min-width: 56.25rem) {
  .Home-main {}
}

@media screen and (min-width: 64rem) {
  .Home-main {}
}