.IdleGamePage {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 6rem);
	height: auto;
	width: 100vw;
	margin-top: 3rem;
	background: var(--background-subtle);
}

.IdleGamePage-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem 3rem;
	gap: 2rem;
}

/* Header */
.IdleGamePage-header {
	display: flex;
	flex-direction: column;
	padding: 2rem 3rem;
	margin: 0 15rem;
	width: 100%;
	background: var(--background-main);
}
.IdleGamePage-headerHead {
	color: var(--typo-main);
}
.IdleGamePage-headerSub {
	color: var(--typo-secondary);
}

/* Asides */
.IdleGamePage-asideLeft,
.IdleGamePage-asideRight {
	position: fixed;
	top: 3rem;
	left: 0;
	bottom: 0;
	width: 15rem;
	padding: 2rem 1rem 3rem 1rem;
}
.IdleGamePage-asideLeft p,
.IdleGamePage-asideRight p {
	color: var(--typo-main);
}
.IdleGamePage-asideLeft {
	background: var(--foreground-subtle);
}
.IdleGamePage-asideRight {
	right: 0;
	left: unset;
	background: var(--foreground-subtle);
}
