.PageNav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: var(--background-main, #f5f5f5);
	height: 3rem;
	padding: 0 1.75rem;
	border-bottom: 1px solid transparent;
	transition: border-bottom 100ms ease-in-out;
}
.PageNav--isAtTop {
	border-bottom: 1px solid var(--foreground-secondary, #000000);
}

.PageNav-list {
	display: flex;
	list-style: none;
}

.PageNav-item {
	display: flex;
	height: 3rem;
	font-size: 1.5rem;
}

.PageNav-link {
	background: transparent;
	color: var(--typo-main);
	padding: 0.625rem 1.25rem;
	transition: all 200ms ease-in;
	text-decoration: none;
}
.PageNav-link:hover {
	color: var(--typo-secondary);
	background: var(--accent-subtle);
}
.PageNav-link:active {
	color: var(--foreground-main);
	background: var(--accent-main);
}

.PageNav-item--isActive {
	font-weight: bold;
	background-color: var(--foreground-main);
}
