.PageNav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3rem;
	padding: 0 1.75rem;
	border-bottom: 1px solid transparent;
	transition: border-bottom 100ms ease-in-out;
}
.PageNav--isAtTop {
}

.PageNav-list {
	display: flex;
	list-style: none;
}

.PageNav-item {
	display: flex;
	height: 3rem;
	font-size: 1.5rem;
}

.PageNav-link {
	background: transparent;
	padding: 0.625rem 1.25rem;
	transition: all 200ms ease-in;
	text-decoration: none;
}
.PageNav-link:hover {
}
.PageNav-link:active {
}

.PageNav-item--isActive {
	font-weight: bold;
}
