@use "./varibales" as vars;

@mixin NewPage() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 4.25rem;
}

@mixin SectionContainer() {
  max-width: 112rem;
  width: 100%;
  margin: 0 auto;
}

@mixin ButtonSet() {
  @include BodyBoldLarge;
  display: inline-flex;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  color: vars.$foreground-inverse;
  background-color: vars.$background-primary-strong;
  border: none;
  transition: vars.$trans-normal;
  cursor: pointer;

  &:hover {
    background-color: vars.$background-primary-strong-hover;
  }

  &:focus {
    outline: 2px solid vars.$border-focus;
    outline-offset: 1px;
  }
}

@mixin ExitButton() {
  display: flex;
  justify-self: end;
  align-items: center;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  color: vars.$foreground-neutral-strong;
  transition: vars.$trans-normal;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: vars.$background-accent-subtle-hover;
  }
}

// LINKS
@mixin MenuLink() {
  padding: 0.75rem 1rem 0.625rem 1rem;
  text-decoration: none;
  color: vars.$primary-darker;
  border-bottom: 2px solid vars.$secondary-lightest;

  &:hover {
    background-color: vars.$primary-main;
    color: vars.$neutral-white;
    border-bottom: 2px solid vars.$primary-main;
  }

  &:focus {
    color: vars.$secondary-darker;
    border-bottom: 2px solid vars.$primary-main;
  }
}
