// FORGROUND
$foreground-inverse: #ffffff;
$foreground-error: #ba2a21;
$foreground-accent-strong: #99751e;
$foreground-accent-subtle: #a1874a;
$foreground-neutral-strong: #373f53;
$foreground-neutral-subtle: #656d81;
$foreground-primary-strong: #535d47;
$background-page: #f9f6f0;
$background-overlay: #373f5380;
$background-disabled: #b9bdc6;
$background-primary-stronger: #394031;
$background-primary-strong: #46542f;
$background-primary-strong-hover: #2d3819;
$background-primary-subtle: #e1ead1;
$background-accent-strong-inverse: #e2c06e;
$background-accent-subtle: #e9e3d6;
$background-accent-subtle-hover: #e2c06e33;
$background-neutral-strong: #373f53;
$background-neutral-subtle: #ced4e4;
$border-focus: #1d72d5;
$border-divider: #d9d2bf;

// By Jacob
// TRANSITIONS
$trans-normal: all 300ms ease-in-out;
$trans-slow: all 200ms ease-in-out;
$ol-padding: 1.25rem;
