@use "../../../styles/scss/partials/typography" as typo;
@use "../../../styles/scss/partials/varibales" as vars;
@use "../../../styles/scss/partials/mixins" as mix;

.HeaderPageNav {}

.HeaderPageNav-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 4.25rem;
   width: 100%;
   max-width: 109rem;
   margin: 0 auto;
   padding: 0.5rem 4.5rem;
   background-color: vars.$background-page;
}

.HeaderPageNav-title {
   @include typo.HeaderName();
   display: flex;


   &Gold {
      color: vars.$foreground-accent-subtle;
   }

   &Green {
      color: vars.$foreground-primary-strong;
   }
}

.HeaderPageNav-linkMain {
   display: flex;
   gap: 1.5rem;

   .HeaderPageNav-link {
      @include typo.LLarge;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 1.5rem;
      color: vars.$foreground-primary-strong;
      transition: vars.$trans-normal;

   }

   .HeaderPageNav-link:hover {
      background-color: vars.$background-accent-subtle-hover;
   }

   .HeaderPageNav-link--isActive {
      @include typo.LLarge;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 1.5rem;
      color: vars.$foreground-neutral-strong;
      background-color: vars.$background-accent-subtle;
      border-bottom: 2px solid vars.$foreground-primary-strong;
      transition: vars.$trans-normal;
   }

   .HeaderPageNav-link--isActive:hover {
      color: vars.$foreground-neutral-strong;
      background-color: vars.$background-accent-subtle;
   }
}